<nav class="navbar navbar-expand-lg navbar-light bg-light jn-navigation mb-1 text-md-left text-center">
  <img class="img-fluid" src="./assets/dashboard/navigation/nav-logo.png" alt="logo">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">DASHBOARD</a>
      </li>
      <li class="nav-item jn-circle-group">
        <a class="nav-link" href="#">PROJECTS</a>
      </li>
      <li class="nav-item jn-circle-group">
        <a class="nav-link" href="#">TOOLSHELF</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NETWORK</a>
      </li>
    </ul>
    <div class="jn-user-corner">
      <a href="#" class="jn-mail">
        <img class="img-fluid" src="./assets/dashboard/navigation/nav-mail.png" alt="mail">
        <img class="img-fluid" src="./assets/dashboard/navigation/nav-alert-notification.png" alt="alert notification">
      </a>
      <a href="#">
        <img class="img-fluid" src="./assets/dashboard/navigation/nav-chat.png" alt="chat">
      </a>
      <a href="#">
        <img class="img-fluid" src="./assets/dashboard/navigation/nav-settings.png" alt="settings">
      </a>
      <a href="#">
        <img class="img-fluid" src="./assets/dashboard/navigation/nav-user.png" alt="user">
      </a>
    </div>
  </div>
</nav>