<div class="row jn-item">
  <div class="col-md-1 col-sm-12 jn-reset-l-p">
    <img class="mx-auto" [src]=item.iconPath alt="image">
  </div>
  <div class="col-md-7 col-sm-12 jn-reset-l-p mt-1 mt-md-0">
    <div class="row">
      <div class="col-12">
        <h6>{{item.title}}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="text-muted">{{item.description}}</p>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-12 jn-reset-l-p jn-badge mt-1 mt-md-0">
    <div class="row">
      <div class="col-12">
        <h6 class="jn-badge-label">{{item.code}}</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <span class="badge badge-pill badge-primary" [style.background-color]=item.badgeColor>{{item.badgeText}}</span>
      </div>
    </div>
  </div>
  <div class="col-md-2 col-sm-12 mt-1 mt-md-0">
    <img class="mx-auto rounded-circle" [src]=item.avatarPath alt="image">
  </div>
</div>