.jn-activity {
  li.jn-active {
    border-left-color: #ff5560;
    border-left-width: 2px;
  }
  .jn-inline-search {
    border: 0px;
    outline: none;
    font-size: 13px;
    color: #afb8bf;
    width: 60%;
  }
}
